<mat-card class="mat-mdc-elevation-specific mat-elevation-z6 overflow-hidden">
  <div class="row m-0">
    <div class="image col-12 col-md-5 p-0" [style.background-image]="'url(' + imageUrl + ')'"></div>
    <div class="about col-12 col-md-7 p-0">
      <div class="d-flex flex-column justify-content-between h-100">
        <div class="m-auto px-4 pt-3 w-100">
          <div class="h3">
            {{ name }}
          </div>
          <div class="display-6 fs-6">
            {{ profession }}
          </div>
          <mat-divider class="my-2"></mat-divider>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="d-flex align-items-end">
                  <mat-icon>location_on</mat-icon>
                  <b class="ms-2">Адрес</b>
                </td>
                <td class="align-bottom">{{ address }}</td>
              </tr>
              <tr>
                <td class="d-flex align-items-end">
                  <mat-icon>person</mat-icon>
                  <b class="ms-2">Возраст</b>
                </td>
                <td class="align-bottom">{{ age }}</td>
              </tr>
              <tr>
                <td class="d-flex align-items-end">
                  <mat-icon>phone_iphone</mat-icon>
                  <b class="ms-2">Мобильный</b>
                </td>
                <td class="align-bottom">
                  <a href="tel:{{ phoneNumber }}">
                    {{ phoneNumber + '' | mask: '+0 (000) 000-0000' }}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-end">
                  <mat-icon>alternate_email</mat-icon>
                  <b class="ms-2">Эл. почта</b>
                </td>
                <td class="align-bottom">
                  <a href="mailto:{{ email }}">
                    {{ email }}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="d-flex align-items-end">
                  <mat-icon>currency_ruble</mat-icon>
                  <b class="ms-2">Мотивация</b>
                </td>
                <td class="align-bottom">{{ salary }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-evenly bg-primary bg-gradient text-white p-2">
          <a
            *ngFor="let button of buttons"
            mat-icon-button
            class="text-white"
            target="_blank"
            [matTooltip]="button.hint"
            [href]="button.link"
          >
            <i [class]="button.icon"></i>
          </a>
          <button mat-icon-button matTooltip="Открыть в PDF" (click)="_toPDF()">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>